In [1]:
import pandas as pd

# Đọc dataset
df = pd.read_csv("Salaries.csv")
print(df.head())

       rank discipline  yrs.since.phd  yrs.service   sex  salary
0      Prof          B             19           18  Male  139750
1      Prof          B             20           16  Male  173200
2  AsstProf          B              4            3  Male   79750
3      Prof          B             45           39  Male  115000
4      Prof          B             40           41  Male  141500

In [2]:
# Thông tin tổng quan
print(df.info())

# Thống kê mô tả
print(df.describe(include="all"))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rank           397 non-null    object
 1   discipline     397 non-null    object
 2   yrs.since.phd  397 non-null    int64
 3   yrs.service    397 non-null    int64
 4   sex            397 non-null    object
 5   salary         397 non-null    int64
dtypes: int64(3), object(3)
memory usage: 18.7+ KB
None
        rank discipline  yrs.since.phd  yrs.service   sex         salary
count    397        397     397.000000   397.000000   397     397.000000
unique     3          2            NaN          NaN     2            NaN
top     Prof          B            NaN          NaN  Male            NaN
freq     266        216            NaN          NaN   358            NaN
mean     NaN        NaN      22.314861    17.614610   NaN  113706.458438
std      NaN        NaN      12.887003    13.006024   NaN   30289.038695
min      NaN        NaN       1.000000     0.000000   NaN   57800.000000
25%      NaN        NaN      12.000000     7.000000   NaN   91000.000000
50%      NaN        NaN      21.000000    16.000000   NaN  107300.000000
75%      NaN        NaN      32.000000    27.000000   NaN  134185.000000
max      NaN        NaN      56.000000    60.000000   NaN  231545.000000

In [3]:
# Chia salary thành 3 mức dựa trên quantile
df["salary_level"] = pd.qcut(df["salary"], q=3, labels=["Thấp", "Trung bình", "Cao"])
print(df[["salary", "salary_level"]].head())

   salary salary_level
0  139750          Cao
1  173200          Cao
2   79750         Thấp
3  115000   Trung bình
4  141500          Cao