In [1]:
# 1. Kiểm tra và thống kê missing value
import pandas as pd

df = pd.read_csv('DataTest.csv')
df

    Name   Age   Salary Department
0   Hung  25.0  50000.0         HR
1   Tuan   NaN  60000.0         IT
2    Hai  30.0      NaN        NaN
3    Lan   NaN  58000.0    Finance
4  Cuong  22.0  52000.0         IT
5    Hoa  23.0  55000.0         IT

In [2]:
# Thống kê số lượng missing value theo từng cột
missing_count = df.isnull().sum()
print('Số lượng missing value theo từng cột:')
print(missing_count)

# 2. Điền giá trị phù hợp cho các missing value
# - Age: điền giá trị trung bình
# - Salary: điền giá trị trung bình
# - Department: điền giá trị phổ biến nhất (mode)

# Sửa lỗi FutureWarning bằng cách sử dụng fillna không có inplace=True
df = df.fillna({
    'Age': df['Age'].mean(),
    'Salary': df['Salary'].mean(),
    'Department': df['Department'].mode()[0]
})

print('\nDữ liệu sau khi đã điền missing value:')
print(df)

Số lượng missing value theo từng cột:
Name          0
Age           2
Salary        1
Department    1
dtype: int64

Dữ liệu sau khi đã điền missing value:
    Name   Age   Salary Department
0   Hung  25.0  50000.0         HR
1   Tuan  25.0  60000.0         IT
2    Hai  30.0  55000.0         IT
3    Lan  25.0  58000.0    Finance
4  Cuong  22.0  52000.0         IT
5    Hoa  23.0  55000.0         IT

In [ ]:
def auto_fillna(df, numeric_method='mean', text_method='mode', text_custom_value='Default'):    
    # Tạo bản sao để không thay đổi DataFrame gốc
    df_filled = df.copy()
    
    # Dictionary lưu phương pháp điền cho từng cột
    fill_values = {}
    
    print("=== PHÂN TÍCH VÀ XỬ LÝ MISSING VALUES ===")
    
    for column in df_filled.columns:
        if df_filled[column].isnull().sum() > 0:  # Chỉ xử lý cột có missing values
            print(f"\nCột '{column}':")
            print(f"  - Missing values: {df_filled[column].isnull().sum()}")
            print(f"  - Kiểu dữ liệu: {df_filled[column].dtype}")

            # Xử lý cột số
            if df_filled[column].dtype in ['int64', 'float64', 'int32', 'float32']:
                numeric_methods = {
                    'mean': (df_filled[column].mean(), f"Mean = {df_filled[column].mean():.2f}"),
                    'median': (df_filled[column].median(), f"Median = {df_filled[column].median():.2f}"),
                    'mode': (df_filled[column].mode()[0], f"Mode = {df_filled[column].mode()[0]}"),
                    'zero': (0, "Zero = 0")
                }
                if numeric_method in numeric_methods:
                    fill_values[column], message = numeric_methods[numeric_method]
                    print(f"  - Phương pháp: {message}")
            
            # Xử lý cột text/object
            else:
                text_methods = {
                    'mode': (df_filled[column].mode()[0] if len(df_filled[column].mode()) > 0 else 'Unknown',
                            f"Mode = '{df_filled[column].mode()[0]}'" if len(df_filled[column].mode()) > 0 else "Mode không có -> 'Unknown'"),
                    'unknown': ('Unknown', "Unknown = 'Unknown'"),
                    'custom': (text_custom_value, f"Custom = '{text_custom_value}'")
                }
                if text_method in text_methods:
                    fill_values[column], message = text_methods[text_method]
                    print(f"  - Phương pháp: {message}")
    
    # Áp dụng fillna cho các cột có giá trị cụ thể
    if fill_values:
        df_filled = df_filled.fillna(fill_values)
    
    # Thống kê kết quả
    print(f"=== KẾT QUẢ ===")
    print(f"Missing values trước xử lý: {df.isnull().sum().sum()}")
    print(f"Missing values sau xử lý: {df_filled.isnull().sum().sum()}")
    
    return df_filled

In [ ]:
# Đọc lại dữ liệu gốc
df_original = pd.read_csv('DataTest.csv')

df1 = auto_fillna(df_original)
print(df1)

=== PHÂN TÍCH VÀ XỬ LÝ MISSING VALUES ===

Cột 'Age':
  - Missing values: 2
  - Kiểu dữ liệu: float64
  - Phương pháp: Mean = 25.00

Cột 'Salary':
  - Missing values: 1
  - Kiểu dữ liệu: float64
  - Phương pháp: Mean = 55000.00

Cột 'Department':
  - Missing values: 1
  - Kiểu dữ liệu: object
  - Phương pháp: Mode = 'IT'
=== KẾT QUẢ ===
Missing values trước xử lý: 4
Missing values sau xử lý: 0
    Name   Age   Salary Department
0   Hung  25.0  50000.0         HR
1   Tuan  25.0  60000.0         IT
2    Hai  30.0  55000.0         IT
3    Lan  25.0  58000.0    Finance
4  Cuong  22.0  52000.0         IT
5    Hoa  23.0  55000.0         IT